{{> navbar}}
<br/>

<h1>{{title}}</h1>
    
    <div>
        {{producto.id}}<br/>
        {{producto.title}}
        {{producto.price}}<br/>
        <img src="{{producto.thumbnail}}" class="product-img"/>
    </div>

<br/>
{{> footer}}
<br/>