{{> navbar}}
<br/>

<h1>{{title}}</h1>
    
    <div>
        {{productoNuevo.id}}<br/>
        {{productoNuevo.title}}<br/>
        {{productoNuevo.price}}<br/>
        <img src="{{productoNuevo.thumbnail}}" class="product-img"/>
    </div>

<br/>
{{> footer}}
<br/>